.Beats {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: 1fr;
    min-height: 19px;
}

.Beats > div {
    border-radius: 2px;
    background-color: #191919;
}

.Beats > div.beat {
    background-color: #EEE651;
    box-shadow: inset 0px 0px 5px 2px #F900FF;
}