.Beats {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: 1fr;
    min-height: 19px;
}

.Beats > div {
    background-color: #191919;
}

.Beats > div.beat {
    background-color: #EEE651;
}