.Sequencer {
    font-family: 'Righteous', cursive;
    color: #000000;
    text-align: center;
    font-size: 4.0em;
    text-transform: uppercase;
    padding: 20px;
    margin-right: 40px;
}

.TrackBeats {
    position: relative;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(16, 1fr);
}
