.Sequencer {
    font-family: 'Righteous', cursive;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    margin-right: 40px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 16fr;
}

.TrackBeats {
    position: relative;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(16, 1fr);
}

.Track {
    display: grid;
    color: #5AEE51;
    grid-gap: 5px;
    grid-template-columns: 1fr 9fr;
    text-align: left;
}