.Tile {
    background-color: #eee;
    border: 3px solid #bbb;
    border-radius: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 8.0em;
    line-height: 1.5em;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.Tile > svg { opacity: 0.5 }

.Tile > svg.playing {
    opacity: 1;
    animation: bounce 0.75s linear infinite;
}

@keyframes bounce {
  0%       { transform: translateY(0) scale(1) rotate(0); }
  25%, 75% { transform: translateY(-8%) scale(1.2) rotate(-5deg); }
  50%      { transform: translateY(-12%) scale(1.2) rotate(5deg); }
  100%     { transform: translateY(0) scale(1) rotate(0); }
}