.Tile {
    min-height: 25vmin;
    background-color: #191919;
    border: 2px solid #F900FF;
    border-radius: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 8.0em;
    line-height: 1.5em;
    color: #476BED;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 20px 3px #EF2AF4, inset 0px 0px 10px 3px #EF2AF4;
}

.Tile.none {
    border: 3px solid #23676F;
    box-shadow: 0px 0px 15px 3px #23676F, inset 0px 0px 5px 0px #23676F;
}

.Tile > svg {
    opacity: 0.75;
}

.Tile.none > svg {
    opacity: 0.1;
}

.Tile > svg.playing {
    opacity: 1;
    animation: bounce 0.75s linear infinite;
}

@keyframes bounce {
  0%       { transform: translateY(0) scale(1) rotate(0); }
  25%, 75% { transform: translateY(-8%) scale(1.2) rotate(-5deg); }
  50%      { transform: translateY(-12%) scale(1.2) rotate(5deg); }
  100%     { transform: translateY(0) scale(1) rotate(0); }
}