.Tile {
    background-color: #eee;
    border: 3px solid #bbb;
    border-radius: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 8.0em;
    line-height: 1.5em;
    color: #888;
}

.playing {
    animation: bounce 1s linear infinite;
}

@keyframes bounce {
  0%       { transform: translateY(0) scale(1); }
  25%, 75% { transform: translateY(-6%) scale(1.1); }
  50%      { transform: translateY(-9%) scale(1.1); }
  100%     { transform: translateY(0) scale(1); }
}