.App {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 15fr 6fr;
    align-content: center;
    justify-content: center;
}

.Soundboard {
    padding: 0 20px;
    margin-right: 40px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-content: center;
}

@media (max-width: 599px) {
    .Soundboard {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 600px) {
    .Soundboard {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 900px) {
    .Soundboard {
        grid-template-columns: repeat(4, 1fr);
    }
}
